$sbacolor:#D3AD68;
$white: #fff;
$sbablue: #12151F;
$textcolor: #5C5F58;
$overlaydark: #28374780;
$image-overlay: #0d0d0d69;
$box-shadow: 0px 4px 9px 4px #00000025;
$lightcolor: #F3F3F3;


.study-destinations {
    .sub-title{
        display: flex;
        justify-content: center;
    }
    .country-grid {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 22px;
  
      .country-card {
        box-shadow: $box-shadow;
  
        .country-img {
          img {
            height: 155px;
            width: 100%;
            object-fit: cover;
          }
        }
  
        .country-details {
          display: grid;
          grid-template-columns: 75% 25%;
          padding: 3%;
  
          img {
            height: 32px;
            width: 100%;
          }
        }
  
      }
    }
  
  }
  
  a{
    color: $sbablue;
  }

  
@media screen and (max-width:900px){
  .country-grid {
  grid-template-columns: 100% !important;
  }

}