<header>
  <div class="topnavbar container">
    <div class="topbar">

      <div class="logo">
        <div>
          <img src="assets/SBA/logo.jpg">
        </div>
        <div class="letter">
          <!-- <h6>SBA GROUP</h6> -->
        </div>
      </div>
      <div class="phone">
        <div class="icon">
          <span class="material-icons">
            phone
          </span>
        </div>

        <div class="icon-desc">
          <p>{{navbarInfo?.phoneNoDefault}}
            <br>
            {{navbarInfo?.phoneNoAlternate}}
          </p>
        </div>
      </div>
      <div class="location">
        <div class="icon">
          <span class="material-icons">
            place
          </span>
        </div>
        <div class="icon-desc">
          <p>{{navbarInfo?.headerAddress}}</p>
        </div>
      </div>
      <div class="call-btn">
        <div class="btn-call">
          <a>REQUEST A CALL</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="navlinks container">
      <div>
        <p routerLink="/">HOME</p>
      </div>
      <div>
        <p routerLink="studyabroad-countries">STUDY IN</p>
      </div>
      <div>
        <p routerLink="about-us">ABOUT</p>
      </div>
      <div>
        <p routerLink="blogs">BLOGS</p>
      </div>
      <div>
        <p routerLink="contact-us">CONTACT</p>
      </div>
    </div>
  </div>

</header>
