<div class="common-banner-section top-pad">
        <img class="banner-image" src="assets/SbaImages/country-australia.jpg" />
        <div class="overlay"></div>
        <div class="text-block">
          <h3>ABOUT SBA GROUP</h3>
        </div>
      </div>

      <div class="container">

        <div class="about-grid">
          <div class="about-descrption">
            <markdown data="{{aboutInfo?.AboutUsDetailedDescription}}"></markdown>
          </div>
          <div class="about-img">
            <img src="{{aboutInfo?.AboutUsImage.url}}">
          </div>
        </div>

      </div>