<div class="common-banner-section top-pad">
  <img class="banner-image" src="../../../assets/SbaImages/country-australia.jpg" />
  <div class="overlay"></div>
  <div class="text-block">
    <h3> {{data?.title}}</h3>
  </div>
</div>


<div class="container">
  <br /><br />

  <markdown data="{{data?.CountryInformation}}"></markdown>
</div>
<div class="container">
        <div class='toggle'>
            <div class='tabs tabgrid'>
              <div class='tab active'>
                <span>Universities and Colleges</span>
              </div>
              <div class='tab'>
                <span>Student visa Requirements</span>
              </div>
              <div class='tab'>
                <span>Study Programs</span>
              </div>
              <div class='tab'>
                <span>Empassy in india</span>
              </div>
            
            </div>
            <hr class="hr" />
            <div class='panels'>
              <div class='panel'>
        <!-- <div *ngFor="let university of universities"   >
          <div class="universitylist"    *ngIf="university.contrycode === data.countrycode == true ">
            <div>
                <h3>  {{university.universityname}}</h3>
                <h5>{{university.subtitle}}</h5>
                <p>{{university.universitydescription}}</p>
            </div>
            <div>
                <img src="{{env[0].url + university.UniversityImage.url}}"/>
            </div>
         
            
         
          </div>
          
           
        </div> -->
        hwkdfjk
        
              </div>
              <div class='panel'>
        
                <p>hello</p>
        
              </div>
              <div class='panel'>
               <p>
               hello
               </p>  
              </div>
              <div class='panel'>
                  <p>how r u</p>
        
              </div>
             
            </div>
          </div>
        </div>