 
<footer class="page-footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-section">
              <div class="about-desc">
                <h5>{{footerInfo?.AboutUsTitle}}</h5>
                <p>{{footerInfo?.footerSbaInfo}}</p>

              </div>
              <div class="get-in-touch">
                <h5>Get It Touch</h5>
           
                  <markdown data="{{footerInfo?.footerAddress}}"></markdown>
              </div>
              <div class="newsletter">
                <h5>Subscribe to our newsletter</h5>
                <div class="email-sub-btn">
                  <div class="input-button"> <input  type="email" placeholder="enter your email"/>
                  <button>Subscribe</button>
                  </div>
                 
                 
                  
                </div>
           
              </div>
            </div>
            <div class="navlinks">
              <a >HOME</a>
              <a>STUDY IN</a>
              <a>ABOUT </a>
              <a>BLOG</a>
              <a class="reduce-margin">CONTACT</a>
            </div>
            </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
    <p style="text-align:center;">© 2021 All Rights Reserved. SBA Group</p>
       </div>
    </div>
  </footer>
      
